body{
    background-image: url(com.gif);
    background-size: cover;
    opacity: 10;
}
h1{
    text-align: center;
    color: brown;
    font-size: 200%;
}
p{
    color: black;
}
h2{
    
    color: ghostwhite;
    font-size: 180%;
}